<h1>Gamer Info</h1>
@* Display Gamer ID, First Name and Last Name from View data dictionary *@
<h3>Gamer ID : @ViewData["gamerID"]</h3>
<h3>Gamer Name : @ViewData["gamerFName"] @ViewData["gamerLName"]</h3>